<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>メイン武器追加ページ</title>
</head>
<body>
  <h2>メイン武器追加欄</h2>
  <form action="/addmain">
    追加したいメインウェポンの名前を入力してください。<br>
    <input type="text" name="bukiname" id="bukiname" required><br>
    
    サブウェポンのIDを入力してください。<br>
    <input type="number" name="subID" id="subID" required><br>
    
    スペシャルウェポンのIDを入力してください。<br>
    <input type="number" name="specialID" id="specialID" required><br>
    
    必要ポイントを入力してください。<br>
    <input type="number" name="point" id="point" required>P<br>
    <input type="submit" id="aaa" value="登録"><br>
    
  </form><br><br>

  
  サブウェポンのID対応表<br>
  表示順<br>「サブID」「名前」「インク消費量」&emsp;&emsp;/&emsp;&emsp;「スペシャルID」「名前」<br><br>
  
  <table>
      <% for( let row of data) { %>
        <tr>
          <td>&emsp;&emsp;<%= row.sub_id %>&emsp;</td>
          <td><%= row.SubWeaponName %>&emsp;</td>
          <td><%= row.inkConsumption %>%&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
          <td><%= row.special_id %>&emsp;</td>
          <td><%= row.SpecialWeaponName %>　</td>
        </tr>
      <% } %>
  </table>


  <br><form action="/all2">
    <input type="submit" value="武器情報ページへ　-->"> 
  </form>

  <br><form action="/all">
    <input type="submit" value="検索ページへ　-->"> 
  </form>

  <br><form action="/sub">
    <input type="submit" value="サブ武器追加ページへ　-->"> 
  </form>

  <br><form action="/special">
    <input type="submit" value="スペシャル武器追加ページへ　-->"> 
  </form>


  <br><br><a href="/public/input01.html"><--　トップページに戻る</a>
</body>
</html>