<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>スプラトゥーン武器検索</title>
</head>
<body>
  <h1>絞り込み検索</h1>
  <h4>※and検索ではなく、or検索です</h4>
  <form action="/kensaku">
    メインウェポンの名前を入力してください。<br>
    <input type="text" name="bukiname" id="bukiname"><br>
    
    <br>サブウェポンを選択してください。<br>
    <input type="checkbox" name="kuikku" id="kuikku">クイックボム&emsp;
    <input type="checkbox" name="supurassyu" id="supurassyu">スプラッシュボム&emsp;
    <input type="checkbox" name="kyubann" id="kyubann">キューバンボム&emsp;
    <input type="checkbox" name="tannsann" id="tannsann">タンサンボム<br>
    <input type="checkbox" name="topido" id="topido">トーピード&emsp;
    <input type="checkbox" name="torappu" id="torappu">トラップ&emsp;
    <input type="checkbox" name="bikonn" id="bikonn">ジャンプビーコン&emsp;
    <input type="checkbox" name="robotto" id="robotto">ロボットボム&emsp;
    <input type="checkbox" name="sirudo" id="sirudo">スプラッシュシールド<br>
    <input type="checkbox" name="karingu" id="karingu">カーリングボム&emsp;
    <input type="checkbox" name="poizun" id="ppoizun">ポイズンミスト&emsp;
    <input type="checkbox" name="sensa" id="sensa">ポイントセンサー&emsp;
    <input type="checkbox" name="supurinkura" id="supurinkura">スプリンクラー&emsp;
    <input type="checkbox" name="maka" id="maka">ラインマーカー

    
    <br><br>スペシャルウェポンを選択してください。<br>
    <input type="checkbox" name="syotto" id="syotto">ウルトラショット&emsp;
    <input type="checkbox" name="enazi" id="enazi">エナジースタンド&emsp;
    <input type="checkbox" name="kani" id="kani">カニタンク&emsp;
    <input type="checkbox" name="kyuinki" id="kyuinki">キューインキ&emsp;
    <input type="checkbox" name="baria" id="baria">グレートバリア<br>
    <input type="checkbox" name="same" id="same">サメライド&emsp;
    <input type="checkbox" name="syoku" id="syoku">ショクワンダー&emsp;
    <input type="checkbox" name="torunedo" id="torunedo">トリプルトルネード&emsp;
    <input type="checkbox" name="sona" id="sona">ホップソナー&emsp;
    <input type="checkbox" name="ame" id="ame">アメフラシ<br>
    <input type="checkbox" name="reza" id="reza">メガホンレーザー&emsp;
    <input type="checkbox" name="hanko" id="hanko">ウルトラハンコ&emsp;
    <input type="checkbox" name="zyetto" id="zyetto">ジェットパック&emsp;
    <input type="checkbox" name="naisu" id="naisu">ナイスダマ&emsp;
    <input type="checkbox" name="misairu" id="misairu">マルチミサイル
    
    <br><br>必要ポイントを選択してください。<br>
    <input type="checkbox" name="sixteen" id="sixteen">160P&emsp;
    <input type="checkbox" name="seventeen" id="seventeen">170P&emsp;
    <input type="checkbox" name="eighteen" id="eighteen">180P&emsp;
    <input type="checkbox" name="nineteen" id="nineteen">190P&emsp;
    <input type="checkbox" name="twenty" id="twenty">200P&emsp;
    <input type="checkbox" name="twentyone" id="twentyon">210P&emsp;
    <input type="checkbox" name="twentytwo" id="twentytwo">220P
    <br><br><br><input type="submit" value="検索する"><br>
  </form>

    <h2>便利検索機能</h2>
    <h4>歴代のシリーズで登場したサブ、スペシャルで武器を絞り込める機能です。</h4>
    ※スプラトゥーン1からスプラトゥーン2にかけてスペシャルウェポンは一新された為、<br>
    スプラトゥーン1のスペシャルウェポンはありません。<br>
  また、絞り込んでも出てこないサブ、スペシャルはスプラトゥーン3から登場したこととなります。<br><br>
  
  <form action="/benri">
    <input type="checkbox" name="splatoon1sub" id="splatoon1sub">スプラトゥーン1からのサブウェポン&emsp;
    <input type="checkbox" name="splatoon2sub" id="splatoon2sub">スプラトゥーン2からのサブウェポン&emsp;
    <input type="checkbox" name="splatoon3sub" id="splatoon3sub">スプラトゥーン3からのサブウェポン<br>
    <input type="checkbox" name="splatoon2special" id="splatoon2special">スプラトゥーン2からのスペシャルウェポン&emsp;
    <input type="checkbox" name="splatoon3special" id="splatoon3special">スプラトゥーン3からのスペシャルウェポン
    <br><br><br><input type="submit" value="検索する"><br>
  </form>
    
  
  <h2>武器情報一覧</h2>
  表示順<br>
          「ID」「メイン」　　　　「サブ」　　　「インク消費量」「スペシャル」「必要ポイント」<br><br>
  <table>
      <% for( let row of data) { %>
        <tr>
          <td>&emsp;<%= row.id %>&emsp;</td>
          <td><%= row.MainWeaponName %>&emsp;</td>
          <td><%= row.SubWeaponName %>&emsp;&emsp;&emsp;&nbsp;</td>
          <td><%= row.inkConsumption %>％&emsp;&emsp;&emsp;&ensp;&emsp;&emsp;</td>
          <td><%= row.SpecialWeaponName %>&emsp;&ensp;</td>
          <td><%= row.Point %>P</td>
        </tr>
      <% } %>
      </table><br><br>

  <br><form action="/all2">
    <input type="submit" value="武器情報ページへ　-->"> 
  </form>

  <br><form action="/main">
    <input type="submit" value="メイン武器追加ページへ　-->"> 
  </form>

  <br><form action="/sub">
    <input type="submit" value="サブ武器追加ページへ　-->"> 
  </form>

  <br><form action="/special">
    <input type="submit" value="スペシャル武器追加ページへ　-->"> 
  </form>

  <br><br><a href="/public/input01.html"><--　トップページに戻る</a>
</body>
</html>