<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>武器情報</h2>
  表示順<br>
          「ID」「メイン」「サブ」「インク消費量」「スペシャル」「必要ポイント」<br><br>
  <table>
      <% for( let row of data) { %>
        <tr>
          <td>&emsp;<%= row.id %>&emsp;</td>
          <td><%= row.MainWeaponName %>&emsp;</td>
          <td><%= row.SubWeaponName %>&emsp;</td>
          <td><%= row.inkConsumption %>％&emsp;</td>
          <td><%= row.SpecialWeaponName %>&emsp;</td>
          <td><%= row.Point %>P</td>
        </tr>
      <% } %>
  </table>
</body>
</html>