<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h1>武器情報</h1>

  <h2>武器情報一覧</h2>
  表示順<br>
          「ID」「メイン」　　　　「サブ」　　　「インク消費量」「スペシャル」「必要ポイント」<br><br>
  <table>
      <% for( let row of data) { %>
        <tr>
          <td>&emsp;<%= row.id %>&emsp;</td>
          <td><%= row.MainWeaponName %>&emsp;</td>
          <td><%= row.SubWeaponName %>&emsp;&emsp;&emsp;&nbsp;</td>
          <td><%= row.inkConsumption %>％&emsp;&emsp;&emsp;&ensp;</td>
          <td><%= row.SpecialWeaponName %>&emsp;&emsp;&emsp;&ensp;</td>
          <td><%= row.Point %>P</td>
        </tr>
      <% } %>
  </table>
</body>
</html>